<?xml version='1.0' encoding='windows-1252'?>

<!-- Wix Installer script for ImageAndTableSupport.
 See https://wixtoolset.org/documentation/ and tool/compilation instructions -->
 
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>

    <!-- Product description. Increment the version number in each new release.
    (For ImageAndTableSupport, it should be the same as the Github release tag).  -->
    
    <Product Name='Image and Table Support for Microsoft Word' Id='*' UpgradeCode='A710D079-7112-4FDC-8D7A-DEE661E1366D'
        Language='1033' Codepage='1252' Version='2.4' Manufacturer='Charles Weir'>
        
        <Package Id='*' Keywords='Installer' Description="MS Word Image and Table Support Installer"
        Comments='Windows Installer Package' Manufacturer='Charles Weir'
        InstallerVersion='100' Languages='1033' Compressed='yes' SummaryCodepage='1252' />
        
        <!-- Magic so upgrades work.
        See https://stackoverflow.com/questions/37941133/ice61-this-product-should-remove-only-older-versions-of-itself -->
        
        <MajorUpgrade AllowSameVersionUpgrades="no" DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
        
        <!-- Runes to say store the media in the MSI file -->
        
        <Media Id="1" Cabinet="product.cab" EmbedCab="yes"/>
        
        <!-- Help link. See https://stackoverflow.com/questions/7052120/how-do-i-specify-the-help-link-support-link-and-update-information -->
        
        <Property Id="ARPHELPLINK" Value="https://github.com/charlesweir/WordImagesAndTables" />
        
        <!-- \Users\<user name>\AppData\Roaming\Microsoft\Word\STARTUP
        N.b. This might not be the users template folder, but deal with that in the documentation.
        
        Set a user-overridable (name in CAPITALS) value for the install location:
        -->
        
        <SetDirectory Id="STARTUP_TEMPLATES" Value="[AppDataFolder]\Microsoft\Word\STARTUP" />
        
        <Directory Id="TARGETDIR" Name="SourceDir"> <!-- Runes for Wix -->
            <Directory Id="STARTUP_TEMPLATES"> <!-- Install to folder [STARTUP_TEMPLATES] -->
                <Component Id="ApplicationFiles" Guid="0E4812A6-AEC3-4B36-8654-E4FAA627C8F3" KeyPath="yes" > <!-- KeyPath means track in the registry -->
                    <File Id="TheTemplate" Source="ImageAndTableSupport.dotm" Vital="yes" />
                </Component>
            </Directory>
        </Directory>
        
        <!-- Every component must be in a 'feature' -->
        
        <Feature Id="DefaultFeature" Level="1">
            <ComponentRef Id="ApplicationFiles"/>
        </Feature>
    </Product>
</Wix>
